# ========================
# Node
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Environment
# ========================
.env

# ========================
# Ignore isi downloads
# ========================
downloads/audio/*
downloads/video/*

# Tapi jangan ignore .gitkeep
!downloads/audio/.gitkeep
!downloads/video/.gitkeep

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
logs/
*.log
